/* =======================
   RESET BÁSICO 
======================= */
* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: #1d1d1d;
  color: #333;
}

/* Contenedor principal */
.container {
  width: 90%;
  max-width: 1200px;
  margin: 20px auto;
}

/* =======================
   NAVBAR 
======================= */
.logo {
  font-size: 24px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.navbar {
  width: 100%;
  background: #111;
  padding: 15px 40px;
  color: white;
  gap: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar h1 {
  font-size: 24px;
  cursor: pointer;
}

.nav-links {
  display: flex;
  list-style-type: none;
  gap: 25px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: 0.2s;
}

.nav-links a:hover {
  opacity: 0.7;
}

/* =======================
   CART WIDGET
======================= */
.cart-widget {
  position: relative;
  cursor: pointer;
}

.cart-widget img {
  width: 32px;
}

.cart-count {
  position: absolute;
  top: -8px;
  right: -8px;
  background: crimson;
  color: white;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 50%;
}

/* =======================
   ITEM LIST
======================= */
.item-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 25px;
}

/* =======================
   ITEM CARD
======================= */
.item-card {
  background: white;
  text-align: center;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.08);
  transition: 0.2s;
}

.item-card:hover {
  transform: translateY(-3px);
}

.item-card img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
}

.item-card h3 {
  margin: 10px 0 5px;
}

.item-card p {
  font-weight: 600;
  margin-bottom: 10px;
}

.detail-link {

  margin-top: 10px;
  padding: 8px 14px;
  background: #111;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  transition: 0.2s;
}

.detail-link:hover {
  opacity: 0.8;
}



.btn {
  padding: 10px 14px;
  background: #111;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.btn:hover {
  opacity: 0.8;
}

.cart-link {

  margin-top: 10px;
  padding: 8px 14px;
  background: #111;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  transition: 0.2s;
}

.cart-link:hover {
  opacity: 0.8;
}



/* =======================
   ITEM DETAIL
======================= */
.item-detail-container {
  display: flex;
  gap: 30px;
  margin-top: 30px;
}

.item-detail-container img {
  width: 400px;
  border-radius: 10px;
}

.cart-item-image {
  width: 150px;
  border-radius: 10px;
}

.item-detail-info {
  flex: 1;
  background: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.item-detail-info h2 {
  margin-bottom: 10px;
}

.item-detail-info p {
  font-weight: 600;
  font-size: 16px;
}

.item-detail-info p.item-price {
  font-size: 35px;
  background: #484848;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  display: block;
}

.item-detail-info p.item-description {
  font-size: 30px;
}

span {
  color: white;
}
/* =======================
   ITEM COUNT
======================= */
.item-count-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.count-btn {
  padding: 8px 14px;
  background: #eee;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.count-btn:hover {
  background: #ddd;
}

.count-number {
  font-size: 18px;
  color: #333;
}

/* =======================
   CART PAGE
======================= */
.cart-container {
  background: white;
  padding: 25px;
  margin-top: 25px;
  border-radius: 10px;
  height: 100vh;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.cart-item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding: 12px 0;
}

.cart-item:last-child {
  border-bottom: none;
}

.cart-item-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.cart-total {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
}

.cart-item-btn {
  padding: 8px 14px;
  background: #eee;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.cart-item-btn:hover {
  background: #ddd;
}

.cart-remove-btn {
  padding: 8px 14px;
  background: #eee;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.cart-remove-btn:hover {
  background: #ddd;
}

.cart-checkout-btn {
  padding: 8px 14px;
  background: #eee;
  border: none;
  color: #111;
  border-radius: 6px;
  font-size: 16px;
  text-decoration: none;
  margin-left: 10px;
}

.cart-checkout-btn:disabled {
  background: #ccc;
  cursor: not-allowed;
}

.cart-checkout-btn:hover {
  background: #ddd;
}



/* =======================
   CHECKOUT FORM
======================= */
.checkout-form {
  background: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  margin-top: 25px;
  height: 100vh;
}

.checkout-form h3 {
  margin-bottom: 20px;
}

.checkout-form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
}

.checkout-form input:focus {
  border-color: #111;
}

.checkout-btn {
  width: 100%;
  padding: 14px;
  background: #111;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  border: none;
}

.checkout-btn:disabled {
  background: #ccc;
  cursor: not-allowed;
}

.checkout-success {
  margin-top: 25px;
  font-size: 20px;
  background-color: #3e3e3e;
  padding: 10px 14px;
  border-radius: 8px;
  font-weight: bold;
  color: #ffffff;
}


footer {
  margin-top: 25px;
  font-size: 20px;
  background-color: #131313;
  padding: 10px 14px;
  border-radius: 8px;
  text-align: center;
  font-weight: bold;
  color: #ffffff;
}


/* =======================
   ESTADOS VACÍOS
======================= */
.empty {
  text-align: center;
  padding: 40px;
  font-size: 18px;
  color: #555;
  background-color: #f9f9f9;
  border-radius: 8px;
}
